nav{
    padding: 0.3rem 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    font-size: 2rem;
}
nav .logo h2{
    transition: all 0.3s linear;
}
nav .logo h2:hover{
    color: brown;
}
nav ul{
    display: flex;
    gap:3rem;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
nav ul li .link{
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    transition: all 0.3s linear;
}
nav ul li .link:hover{
    color: blueviolet;
}