.table{
    font-size: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.table .tablehead{
    border-collapse: collapse;
    width: 50%;
}
.table .tablehead th{
    border: 1px solid black;
    padding: 1rem 1.5rem ;
}
.table .tablehead th .link{
    border: 2px solid black;
    text-decoration: none;
    padding: 0.2rem 0.2rem;
    color: #000;
}
.table .tablehead th .link:hover{
    color: blueviolet;
}
.btn{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}